
@media screen and (min-width: 768px) {
  .ivu-row {
    width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .ivu-row{
    width: 970px;
  }
}

@media screen and (min-width: 1200px) {
  .ivu-row {
    width: 1170px;
  }
}

@media screen and (max-width: 767px) {
  .ivu-layout-header{
    padding: 0;
  }
  .article-detail{
    .article-title{
      font-size: 18px;
      font-weight: bold;
    }
  }
}
  