.el-container{
	.blog-header{
    background-color: rgb(84, 92, 100);
    .el-menu{
		  float: right;
      padding-right: 55px;
      background-color: transparent;
	  }
	}
}

.el-menu--horizontal{
	.el-menu-item:not(.is-disabled):hover, .el-submenu .el-submenu__title:hover {
    background-color: rgb(67, 74, 80);
	}
  .el-menu {
    .el-menu-item, .el-submenu__title {
      background-color: rgb(84, 92, 100);
    }
  }
}